@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/* ----variables */
:root {
    --green-color: #7ACC2D;
    --white-color: white;
    --black-color: hsl(220, 6%, 20%);
    /* ---tipografía* */
    --normal: 12px;
    /* -----espaciado */
    --space: 10px;
    /* ---box shadow* */
    --box: 0px 0 2px 1px #e6e5e9;
}



/* ----variables */
html,
body {
    padding: 0px;
    margin: 0px;
    font-size: var(--normal);
    font-family: 'Open Sans', sans-serif;

}

nav {
    display: flex;
    background-color: var(--green-color);
    padding: var(--space);
    color: var(--white-color);
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
}

nav li {
    padding-left: 20px;
    list-style: none;
}

nav li a {
    color: var(--black-color);
    text-decoration: none;
}

nav li a:hover {
    color: var(--white-color);
}

/* ------------------------Main section */

.main_section {
    padding: 15%;
    text-align: center;
}

.products {
    background-image: url(./images/curve.png);
    max-height: 50px;
    background-size: cover;
    background-position: center top;
    padding: 20%;
    display: flex;
}

.product {
    padding: var(--space);
    margin-top: -370px;
}

.product .content {
    background-color: var(--white-color);
    padding: 15px;
    box-shadow: var(--box);

}

.image-content {
    text-align: center;
}

.main_button {
    background-color: var(--green-color);
    width: 100%;
    padding: var(--space);
    font-size: var(--normal);
    color: var(--white-color);
    border: 0;
    cursor: pointer;
    border-radius: 2px;
}

.main_button:hover {
    background-color: #5e9e22;
}

section h1 {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.section-2 {
    display: flex;
    justify-content: space-around;
    padding: 15%;

}

.box h3 {
    text-align: center;
}

.box {
    width: 160px;
    height: 150px;
    border: 1px solid transparent;


}

.img-box {
    text-align: center;
}

.section-3 {
    margin-top: -200px;
    display: flex;
    flex-wrap: nowrap;
    padding: 15%;
    justify-content: space-between;

}

.section-3 .box3 {
    box-shadow: var(--box);
    margin-right: 10px;
}
}

.box3 {

    height: 40px;
}

.box3 h3 {
    padding: 0 5px;
    margin: 0;
}

.box3 p {
    padding: 0 5px;
}



.img-box3 {
    margin: 0;
    padding: 0;
}